* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white-color: #fff;
  --navigation-color: #f08d8f;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 16px 32px;
}

.navigation {
  background-color: var(--navigation-color);
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 16px 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

.icon {
  width: 40px;
  padding: 8px;
  margin-left: auto;
  display: none;
}

.image-icon {
  width: 100%;
  height: 100%;
}

.hero-section {
  width: 100%;
  height: 50vh;
  background-image: url("./images/hero-section.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  margin-bottom: 24px;
  position: relative;
}

.hero-text {
  left: 32px;
  bottom: 16px;
  position: absolute;
  left: 32px;
  bottom: 16px;
  color: var(--white-color);
}

.hero-title {
  margin-top: 8px;
}

.hero-subtitle {
  font-size: 20px;
}

.image-container {
  width: 50%;
}

.image-1 {
  width: 100%;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .icon {
    display: block;
  }

  .menu {
    display: none;
  }

  .hero-title {
    font-size: 18px;
  }

  .hero-subtitle {
    font-size: 24px;
  }

  .image-container {
    width: 100%;
  }

  body {
    margin: 8px;
  }
}
